{% extends 'layouts.html' %}
{% load static %}
{% block title %}
    Question
{% endblock %}
{% block content %}
    {% load static %}
        <div class="question-body">
            <div class="post">
                <div class="ask-question">
                    <input type="text" name="question" style="height: 40px; width: 400px;" placeholder="Your question..."><br><br>
                    <input type="text" name="geek" style="height: 180px; width: 400px;" placeholder="Problem description..."><br><br>
                    <input type="text" name="tag" style="height: 30px; width: 200px;" placeholder="Tag"><br>
                    <button type="submit" name="post">Send</button>
                </div>
            </div>
        </div>
{% endblock %}